/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background */
body {
  height: 100vh;
  background: 
    linear-gradient(to bottom, rgba(0,0,0,.6), rgba(0,0,0,.8)),
    url("giphy.gif") center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, sans-serif;
  background-color: #71137e;
}

/* Code Window */
.mac {
  width: 700px;
  background: rgba(30, 30, 46, 0.85);
  backdrop-filter: blur(14px);
  border-radius: 14px;
  box-shadow: 0 30px 80px rgba(0,0,0,.5);
  overflow: hidden;
  border-width: 5px;
  border-style: solid;
   border-radius: 10px;
}
.dots {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
}

.mac-button-red,
.mac-button-yellow,
.mac-button-green {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.mac-button-red { background: #ff5f56; }
.mac-button-yellow { background: #ffbd2e; }
.mac-button-green { background: #27c93f; }

.name-mac {
  margin-left: 16px;
  font-size: 14px;
  color: #aaa;
}



.title {
  margin-left: 12px;
  color: #aaa;
  font-size: 14px;
}

/* Code */
.code {
  padding: 20px;
  font-family: "JetBrains Mono", monospace;
  font-size: 15px;
  color: #cdd6f4;
  line-height: 1.6;
}

.line {
  display: block;
}

.kw { color: #89b4fa; }
.str { color: #a6e3a1; }
.fn { color: #f9e2af; }
.num { color: #fab387; }

.head-name {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    margin: 10px;
    display: inline-flex; 
    align-items: center;  
    justify-content: center; 
    gap: 10px;
    padding: 10px 20px; 
    background-color: #000000cb;
    border-radius: 1rem; 
    max-width: 90%; 
    white-space: nowrap; 
}

.navbar {
    position: absolute;
    top: 10px;
    right: 100px;
    display: flex; 
    align-items: center;
    gap: 10px; 
    padding: 10px;
    background-color: #000000;
    border-radius: 10px;
}
.navbar a {
    color: white;
    text-decoration: none;
}

.box-info {
    display: flex;           
    align-items: center;     
    gap: 10px;               
    padding: 20px;
    background-color: #000000cb; 
    color: #ffffff;
    border-radius: 15px;
    max-width: 910px;        
    margin: 10px 90px;    
}

.box-info img.me {
    width: 150px;            
    height: auto;
    border-radius: 50%;     
    object-fit: cover;      
}

.box-info p {
    margin: 0;
    line-height: 1.5;        
}
.icons{
    left: 100vh;
    margin: 140px;
    
    
}
.links {
    display: flex;
    gap: 20px;
    margin-top: 20px;

}