body {
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login {
  text-align: center;
  font-size: 35px;
  height: 700px;
  
}

input {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #6c5cff;
  color: white;
  cursor: pointer;
}
.ask {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: 0.9em;
    color: #bbb;
    text-align: center;
}
@media (min-width: 768px) {
  input {
    font-size: 50px;
    
  }

  button {
    font-size: 50px;
   
  }

  .ask {
    font-size: 2.9em;

  }
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background: #4f46e5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  
}

.dropbtn:hover {
  background: #6366f1;
}

.dropdown-content {
  position: absolute;
  top: 120%;
  left: 0;
  background: #1f1f1f;
  width: 260px;
  border-radius: 12px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.3s ease;
  pointer-events: none;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-content img {
  width: 100%;
  display: block;
}
.footer-conten{
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #bbb;
  list-style: none;
  color: aliceblue;

}
ul {
  list-style: none;
  padding: 10px;

}
a{
  color: #bbb;
  text-decoration: underline;
  transition: 0.3s;
  
  
}