body {
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login {
  text-align: center;
  font-size: 35px;
  height: 700px;
  
}

input {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #6c5cff;
  color: white;
  cursor: pointer;
}
.ask {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: 0.9em;
    color: #bbb;
    text-align: center;
}
@media (min-width: 768px) {
  input {
    font-size: 50px;
    
  }

  button {
    font-size: 50px;
   
  }

  .ask {
    font-size: 2.9em;

  }
}
