body {
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login {
  text-align: center;
}

input {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #6c5cff;
  color: white;
  cursor: pointer;
}
